
/**
 *
 Globals

 Colours:
 	white: #ffffff;
 	grey: #f6f6f6;
 	navy: #0e192e;
	black: #000000;
 	blue: #42f5f5;

 Layout:
	margin: 0;
	padding: 2rem;
	width: 100%; // Mobile
	width: 80%; // Desktop
	border-radius: 0.25em;

 *
**/


/* Mobile-first */

html, body {
	
	overflow-x: hidden;

}

body {

	margin: 0;
	padding: 0;
	background-color: #ffffff;
	color: #0e192e;
	font-family: "DM Sans", sans-serif;
	font-weight: 300;
	line-height: 1.75;

}


.hero{

	width: 100vw;
	height: 50vh;
	background-color: rgba(240, 240, 240, .5);
	background-image: url('../assets/bg/bg-hero_B8A9629.jpg');
	background-blend-mode: lighten;
	background-position: center center;
	background-size: cover;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	text-align: center;

}


.hero__item{

	flex-basis: 100%;
	flex-grow: 1;

}

.hero__logo{

	height: 10vh;

}


.content{
/*
	margin: 2rem -9999rem 0 -9999rem;
	padding: 1rem 9999rem;
*/

	margin: 2rem auto 0 auto;
	padding: 1rem 0;

	background-color: #f6f6f6;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

}

.content + .promote {

	flex-direction: row-reverse;

}

.content__opener{

	flex-basis: 100%;
	flex-grow: 1;
	margin: 2rem 2rem 0 2rem;

}

.content__opener p{

	margin-bottom: 0;

}

.content__img{

	flex-basis: 100%;
	flex-grow: 1;
	margin: 2rem;
	background-color: #f6f6f6;
	background-position: center center;
	background-size: cover;
	height: 50vh;

}

.content__img--short{

	height: 33vh;

}

.content__copy{

	flex-basis: 100%;
	flex-grow: 1;
	margin: 2rem;

}


.content__btn{

	display: block;
	background-color: #0e192e;
	color: #ffffff;
	padding: 1rem 2rem;
	text-align: center;

}

a.content__btn{

	text-decoration: none;

}


.content__articles{

	flex-basis: 100%;
	flex-grow: 1;
	margin: 2rem;

}


.blog{

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

}

.blog__card{

	display: block;
	flex-basis: 100%;
	background-color: rgba(240, 240, 240, .5);
	background-blend-mode: lighten;
	background-position: center center;
	background-size: cover;
	min-height: 30vh;
	margin-bottom: 2rem;
	padding: 1rem;
	box-sizing: border-box;
	text-decoration: none;
	color: #0e192e;

}

.blog__card:hover{

	background-color: #42f5f5;
	color: #ffffff;
	background-image: none !important;
	background-blend-mode: normal;


}

.blog__card h2{

	font-size: 2rem;
	text-shadow: 2px 2px 50px rgba(255, 255, 255, 1);

}


.footer{

	text-align: center;
	padding: 2rem 0 0 0;

}

.footer__logo{

	height: 10vh;

}

.small-print{

	background-color: #0e192e;
	color: #f5f5f5;

	padding: 1rem;

}

.small-print p{

	margin: 1rem 0 0 0;

}

.small-print a{

	color: #42f5f5;
	text-decoration: none;

}

.small-print a:hover{

	text-decoration: underline;
	
}

@media only screen and (max-width: 767px){


	.content__img{

		flex-basis: 30%;
		flex-grow: 1;

	}

	.content__copy{

		flex-basis: 55%;
		flex-grow: 2;

	}



}

/* Small screens */

@media only screen and (min-width: 768px){

	section{

		display: flex;
		justify-content: center;


	}

	.content{

		width: 100vw;
		align-items: center;

	}
	

	.content__img{

		flex-basis: 30%;
		flex-grow: 1;

	}

	.content__copy{

		flex-basis: 55%;
		flex-grow: 2;

	}


	.content__btn{

		/* width: 9rem; */
		width: max-content;
		text-align: left;

	}

	.content__btn--wide{

		/* width: 15rem; */
		width: max-content;
		text-align: left;

	}

	.blog__card{

		display: block;
		flex-basis: 32%;

	}


}

@media only screen and (min-width: 1201px){

	.content{

		width: 80vw;
		align-items: center;

	}

}

@media only screen and (min-width: 1401px){

	.content{

		width: 67vw;
		align-items: center;

	}

}
